body {
    padding: 0;
    margin: 0;
}

table {
    text-align: center;
    border-spacing: 0px;
    margin: 0 auto;
    margin-bottom: 70px;
}

table img {
    width: 128px;
    height: 128px;
}

table:hover {
    cursor: pointer;
}

thead {
    background: #837d7d;
    color: #fff;
}

tbody {
    background: rgb(235, 239, 235);
}

tr:nth-child(2n) {
    background: rgb(210, 202, 202);
}

tr:hover td {
    border-bottom-color: #000;
}

th:hover {
    background: #3b3838;
}

th:first-child {
    background: #837d7d;
}

th:last-child {
    background: #837d7d;
}

th,
td {
    height: 50px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #fff;
}

table input {
    border-color: transparent;
    border-radius: 4px;
    padding: 5px;
    margin: 0 20px;
}

.hidden {
    display: none;
}

.buttonDel {
    background: red;
    ;
    border-radius: 4px;
    min-width: 30px;
    min-height: 30px;
}

.wrap {
    display: flex;
    justify-content: center;
}

.wrap input,
button {
    border: 1px solid #000;
    display: block;
    margin: 10px 20px;
    padding: 5px;
}

label+* {
    margin-left: 0 !important;
}

.wrap button {
    width: 100px;
}

[type="color"] {
    width: 140px;
    height: 30px;
    position: relative;
}
.color{
     border:1px solid #837d7d;
      width:50%;
       height:30px; 
       margin:0 auto;
}

[type="color"]::after {
    content: "Виберіть color";
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to right, white, #d21414, green, #3d3db5, white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}